* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif ;
    color: #474b55;
    background: #9eb8be ;
    font-size: 16px;
}

.navMenu {
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.navMenu a {
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
   
    
}

.aboutBody {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 90%;
    text-align: center;
    background-color: rgb(240, 248, 255, 0.5);
    box-shadow: 1rem 1rem 1rem rgb(179, 179, 179) ;
}

.aboutBody p {
    font-size: 1.5rem;
    margin-left: 20%;
    margin-right: 20%;
   
}

.aboutBody a {
    color: black;
}

a:hover {
    color: white;
   
  }

.buttonContainer {
    margin-top: 20%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hexText {
    text-align: center;
}

.button {
    border: .2rem groove rgb(231, 231, 231);
    border-radius: 1rem;
    margin-top: 2rem;
    width: 25rem;
    height: 8rem;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    font-family: "Poppins";

}

.button:hover {
    box-shadow: 0 1rem 1rem rgba(17, 8, 8, 0.4);
}